__pycache__/
*.pyc
.venv/
venv/

data/*.parquet
data/*.csv

data_csv_sucios/*.csv

*.log
*.tmp

.vscode/

Thumbs.db
.DS_Store

~$*.docx

results/errores_csv_python.csv
results/errores_detectados_csv_final.csv